@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.gradient-border {
  --border-width: 4px;
  position: relative;
  color: white;
  background: #111;
  border-radius: 1rem;
  z-index: 0;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--border-width);
  border-radius: inherit;
  background: linear-gradient(90deg, #ff00cc, #3333ff, #00ffcc, #ff00cc);
  background-size: 300% 300%;
  animation: gradient-move 5s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .gradient-border::before {
    animation: none;
  }
}
